name: Update-flake-lock
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '0 0 * * 0'
jobs:
  lockfile:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Nix
        uses: cachix/install-nix-action@v31
      - name: Update flake.lock
        if: ${{ github.event_name != 'pull_request' }}
        uses: DeterminateSystems/update-flake-lock@v28
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          git-author-name: 'github-actions[bot]'
          git-author-email: 'github-actions[bot]@users.noreply.github.com'
          git-committer-name: 'github-actions[bot]'
          git-committer-email: 'github-actions[bot]@users.noreply.github.com'
          pr-title: "deps: update flake.lock" # Title of PR to be created
          pr-labels: | # Labels to be set on the PR
            dependencies
            github-actions
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
